@{
    ViewData["Title"] = "Página Principal";
}

<div class="jumbotron">
    <h1>Almacen</h1>
    <p>Adaptable a cualquier empresa. Controla tus ventas, clientes, productos y empleados.<br />Con persistencia de datos.</p>
    <p><a href="https://www.itla.edu.do" class="btn btn-primary btn-lg" title="www.itla.edu.do">Página ITLA &raquo;</a></p>
</div>