@model Almacen.Models.Cliente

@{
    ViewData["Title"] = "Agregando Cliente";
}

<h1>Agregar Cliente</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form onsubmit="return Vald();" asp-action="AgregarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label">Sexo</label>
                <select asp-for="Sexo" class="form-control">
                    <option value="">Seleccione un sexo</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" id="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="FechaNacimiento" type="date" class="form-control" id="fechaNacimiento" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar Cliente" class="btn btn-outline-primary" style="width:100%" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/EmailVald.js"></script>
    <script src="~/js/ClienteVald.js"></script>
}
